**/*.class
kalos_comun/**
**/.settings/**
**/.classpath
kalos_utilidades/*
.metadata
.recommenders
comun/target/**
mantenimiento/target/**
kalos_abms/.project
**/*.log
**/.project
bibliotecas/**
**/target/**
comun/*.log
datos/data/**
setup/work

