**/*.class
kalos_comun/data/*
kalos_comun/bin/*
kalos_comun/target/*
kalos_comun/data.zip
**/.settings/**
**/.classpath
kalos_utilidades/*
.metadata
.recommenders
comun/target/**
mantenimiento/target/**
kalos_abms/.project
**/*.log
**/.project
bibliotecas/**
