**/*.class
kalos_comun/**
**/.settings/**
**/.classpath
kalos_utilidades/*
.metadata
.recommenders
comun/target/**
mantenimiento/target/**
kalos_abms/.project
**/*.log
**/*.log.*
**/.project
bibliotecas/**
**/target/**
datos/data/**
setup/work
kalos-software/peliculas/
kalos-software/pdfs/
kalos-software/*.exe
kalos-software/*.zip
kalos-software/mail/
kalos-software/images/
kalos-software/img/
